<div class="filter-box">
  <mat-form-field class="filter-search">
    <input matInput placeholder="Search"/>
    <button mat-button matSuffix>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="filter-age">
    <mat-label>Age Filter</mat-label>
    <mat-select>
      <mat-option value="today">Today</mat-option>
      <mat-option value="week">This Week</mat-option>
      <mat-option value="month">This Month</mat-option>
      <mat-option value="custom">Custom</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="filter-status">
    <mat-label>Status</mat-label>
    <mat-select>
      <mat-option value="pending">Pending</mat-option>
      <mat-option value="paid">Paid</mat-option>
      <mat-option value="overdue">Overdue</mat-option>
      <mat-option value="all">All</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" class="create-button"
          (click)="openNewInvoiceDialog()">Create New Invoice
  </button>
</div>
