<div class="login-section" >
  <h3>Use login option belows</h3>
  <div id="g_id_onload"
       data-client_id="969997646195-g84tt9otth007uguuh15c0nrs1mshhcp.apps.googleusercontent.com"
       data-context="signin"
       data-ux_mode="popup"
       data-login_uri="https://fd-api.magicproc.co.za/auth/login"
       data-auto_select="true"
       data-itp_support="true">
  </div>

  <div class="g_id_signin"
       data-type="standard"
       data-shape="rectangular"
       data-theme="outline"
       data-text="signin_with"
       data-size="large"
       data-logo_alignment="left">
  </div>

</div>
